/* Simple CSS reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

table.description {
  margin-bottom: 20px;
}

table.description th, td {
  text-align: left;
  vertical-align: middle;
  padding: 3px 6px;
}

input#console {
  font-family: monospace;
  padding: 5px 10px;
  border-radius: 3px;
  border: solid 1px #ccc;
  width: 100%;
}

#canvas {
  margin-top: 20px;
}
